body{
    padding-left: 5%;
    padding-right: 5%;
    background-color:cornsilk;
    
    font-family: "티머니 둥근바람";
  }
  #panel{
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    background-repeat: no-repeat;
    border: 5px solid #fcd143;
  }
  #item{
    display: inline;
    margin: 10px;
    float: left;
    background-color: white;
    font-size: 18px;
  }
  #product{
    width: 600px;
    float:right;
    text-align: left;
  }
  img{
    display: inline-block;
    width: 120px;
    height: 80px;
    vertical-align: top;
  }
  #squareImg{
    width: 80px;
    height: 80px;
  }
  #productImg{
    width: 300px;
    height: 200px;
    left: 25%;
    top: 35%;
    position: absolute;
  }
  #productInfo{
    left:45%;
    top: 43%;
    position: absolute;
    line-height: 20px;
    font-family: '티머니 둥근바람 Bold';
  }
  span{
    background-color: white;
    opacity: 0.7;
  }
  #result{
    font-size: 18px;
    background-color: white;
  }
  #title{
    font-size: 24px;
    margin-bottom: 50px;
    background-color: white;
  }
  button{
    background-color: #006E18;
    color: whitesmoke;
    font-size: 16px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    font-family: "티머니 둥근바람";
  }
  button a{
    color: inherit;
    text-decoration: none;
  }
  #nextBtn{
    float:right;
  }
  button:hover{
    background-color: rgb(34, 133, 34)
  }
  button:active{
    background-color: #014d11;
  }
  @font-face {
    font-family: '티머니 둥근바람';
    src: url('src/TmoneyRoundWindRegular.ttf') format('truetype');
  }
  @font-face {
    font-family: '티머니 둥근바람 Bold';
    src: url('src/TmoneyRoundWindExtraBold.ttf') format('truetype');
  }