body{
    margin : 0;
}

a {
    text-decoration: none;
    color: black;
}
@font-face{
    font-family:"TmoneyRoundWindRegular";
    src:url("Font/TmoneyRoundWindRegular.ttf") format("truetype");    font-style:normal;
    font-style:normal;
    font-weight:normal; 
}
@font-face{
    font-family:"TmoneyRoundWindExtraBold";
    src:url("Font/TmoneyRoundWindExtraBold.ttf") format("truetype");    font-style:normal;
    font-style:normal;
    font-weight:normal; 
}

.header_main{
    display: block;
    margin-bottom: 20px;
    margin-left:45%;
    
}

.header_member{
    margin-left:80%;
    margin-bottom:-20px;
    margin-top:20px;
    font-size : 12px;
    font-family:"TmoneyRoundWindRegular";
}

.navbar {
    display: flex;
    justify-content : space-between;
    align-items: center;
    background-color:#FFFFFF;
    padding : 5px 300px;
    font-family:"TmoneyRoundWindExtraBold";
    
}

.navbar__logo {
    font-size : 24px;
    color:white;
}
.navbar_logo li{
    color: #d49466;
}

.navbar_menu{
    display : flex;
    list-style: none;
    padding-left: 0;
   
}

.navbar_menu li {
    padding : 10px 30px;
    position:relative;
    width:120px;
    
}

.navbar_menu li:hover {
    background-color:#FACC2E;
    border-radius: 4px; 
   
}
*{
    margin:0;
    padding :0;
}
li{
    list-style: none;
    
}
/*second_menu1 드롭박스*/
.second_menu1 {
    position:absolute;
    top:100%;
    left:0;
    
}
.second_menu1 li{
    width:120px;
    border:2px;
    text-align: left;
    
}
.navbar_menu li .second_menu1{
   
    list-style: none;
    padding-left: 0;
    display:none;
}
ul.navbar_menu li:hover ul.second_menu1 {
    display:block;
    margin:0 auto;
    margin-right:10px;
}
/*second_menu2 드롭박스*/
.second_menu2{
    position:absolute;
    top:100%;
    left:0;
}
.second_menu2 li{
    width:120px;
    border:2px;
    text-align: left;
}
.navbar_menu li .second_menu2 {
    list-style:none;
    padding-left:0;
    display:none;
}
ul.navbar_menu li:hover ul.second_menu2 {
    display: block;
}
/*second_menu3 드롭박스*/
.second_menu3 {
    position: absolute;
    top:100%;
    left:0;
}
.second_menu3 li{
    width:120px;
    border:2px;
    text-align: left;
   
}
.navbar_menu li .second_menu3 {
    list-style:none;
    padding-left: 0;
    display:none;
}
ul.navbar_menu li:hover ul.second_menu3{
    display: block;
}

/*navbar 상태*/
@media screen and (max-width: 768px){
    .navbar{
        flex-direction: colum;
        align-items : flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
      
    }
    .navbar_menu li {
        width:100%;
        text-align: center;
        
    }
}
    
    .header_member{
        display : flex;
        list-style: none;
        padding-left: 0;
        
    }
    .header_member li {
        padding : 8px 12px;
        
    }
    .header_member li:hover {
        background-color:#04B431;
        border-radius: 4px; 
    }
    /*header 상태*/
    @media screen and (max-width: 768px){
        

        .header_member{
            flex-direction: colum;
            align-items : flex-start;
            padding: 8px 24px;
        }
        .header_member{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .header_member {
            width:100%;
            text-align: center;
            
        }
    }
     /*main*/
    .main_sceen{
        font-family:"TmoneyRoundWindRegular";
        Font-size:20px;
        margin-left:35%;
        margin-top:7%;
    }
    /*image*/
    .image {
        margin-left:10%;
    }
    
    /*footer*/
    .f_logo{
        font-size : 15px;
        font-family:"TmoneyRoundWindRegular";
        margin-left:1%;
        margin-top:12%;
        
    }

